p {
    color: rgb(12, 7, 122);
}


li {
    list-style-type: circle;
}

li em {
    color: blue
}


title {
    font-size: 120%;
    font-style: italic;

}

p {
    font-size: 130%;
    background-color: yellow;
}

p1 {
    font-size: 130%;
   
}

a:link {
    color: aquamarine;
}

a:visited {
    color: green;
}


/* Apply styles to the box containing the h1 */
.box {
    width: 1380px; /* Set the width of the box */
    padding: 20px; /* Add some padding to the box */
    background-color: #0a268a; /* Set the background color of the box */
    border: 2px solid #ccc; /* Add a border with color */
  }
  
  /* Style the h1 within the box */
  .box h1 {
    margin: 0; /* Remove default margin for h1 */
    color: #ffffff; /* Set the text color for h1 */
  }
  

  .box1 {
    width: 1380px;
    padding: 20px;
    background-color: #f8f4f4;
    border: 2px;
    margin: 3px;
  }

  .box1 p1 {
    margin: o;
    color: black;
    
  }